{% extends "base.html" %}
{% block start%}

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <a href="#hero" class="logo d-flex align-items-center me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="static/img/logo.png" alt=""> -->
      <h1>FoodBazar<span>.</span></h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="#hero">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#menu">Menu</a></li>
        <li><a href="#events">Events</a></li>
        <li><a href="#chefs">Chefs</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->

    <a class="btn-book-a-table" href="#book-a-table">Book a Table</a>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div
        class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
        <h2 data-aos="fade-up">Enjoy Your Healthy<br>Delicious Food</h2>
        <p data-aos="fade-up" data-aos-delay="100">Traditional classics to contemporary fusion, our diverse collection
          of recipes will excite your taste buds and ignite your passion for food.</p>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a href="#book-a-table" class="btn-book-a-table">Book a Table</a>
          <a href="https://www.youtube.com/watch?v=QcOED9rj7Qw"
            class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch
              Video</span></a>
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
        <img src="static/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <p>Learn More <span>About Us</span></p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-7 position-relative about-img" style="background-image: url(static/img/about.jpg) ;"
          data-aos="fade-up" data-aos-delay="150">
          <div class="call-us position-absolute">
            <h4>Book a Table</h4>
            <p>+880-1912004259</p>
          </div>
        </div>
        <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              We believe that food is not just about satisfying hunger; it's an extraordinary journey that tantalizes
              your taste buds and ignites your senses.
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> Offer meal planning guides and tools, helping users.</li>
              <li><i class="bi bi-check2-all"></i> Porvide best service to serve food and also food delivery.</li>
              <li><i class="bi bi-check2-all"></i> Organize a diverse and well-categorized collection of recipes to
                cater to different tastes and dietary preferences.</li>
            </ul>
            <p>
              FoodBazar is dedicated to bringing you a delectable array of culinary delights from around the
              world. Whether you're a seasoned foodie or an adventurous eater, we've got something special in store for
              you.
            </p>

            <div class="position-relative mt-4">
              <img src="static/img/about-2.jpg" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=QcOED9rj7Qw" class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="why-box">
            <h3>Why Choose FoodBazar?</h3>
            <p>
              Choose Food Bazar for an exceptional dining experience! Indulge in our exquisite culinary
              creations, warm hospitality, and sustainable practices. From farm-to-table delights to a carefully curated
              ambiance, every moment with us is extraordinary.
            </p>
            <div class="text-center">
              <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <!-- End Why Box -->

        <div class="col-lg-8 d-flex align-items-center">
          <div class="row gy-4">

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-clipboard-heart"></i>
                <h4>Better Service</h4>
                <p>Personalized attention, prompt service, and attentive hospitality await you.</p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-gem"></i>
                <h4>Membership plan</h4>
                <p>Join our restaurant's membership program for exclusive rewards.</p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-cart-check"></i>
                <h4>Online Order</h4>
                <p>Enjoy convenience, exclusive offers, and contactless options.</p>
              </div>
            </div>
            <!-- End Icon Box -->

          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Stats Counter Section ======= -->
  <section id="stats-counter" class="stats-counter">
    <div class="container" data-aos="zoom-out">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Clients</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Orders</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Stuffs</p>
          </div>
        </div>
        <!-- End Stats Item -->

      </div>

    </div>
  </section>
  <!-- End Stats Counter Section -->

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Menu</h2>
        <p>Check Our <span>FoodBazar Menu</span></p>
      </div>

      <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

        <li class="nav-item">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
            <h4>Starters</h4>
          </a>
        </li>
        <!-- End tab nav item -->

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
            <h4>Breakfast</h4>
          </a>
          <!-- End tab nav item -->

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
            <h4>Lunch</h4>
          </a>
        </li>
        <!-- End tab nav item -->

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
            <h4>Dinner</h4>
          </a>
        </li>
        <!-- End tab nav item -->

      </ul>

      <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

        <div class="tab-pane fade active show" id="menu-starters">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Starters</h3>
          </div>

          <div class="row gy-5">

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-1.png" class="glightbox"><img src="static/img/menu/menu-item-1.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Mutton Kabab</h4>
              <p class="ingredients">
                Mutton, chilli, onion, rice flour, oil
              </p>
              <p class="price">
                280.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-2.png" class="glightbox"><img src="static/img/menu/menu-item-2.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Chicken Shawarma</h4>
              <p class="ingredients">
                Chicken, chilli, onion, rice flour, oil
              </p>
              <p class="price">
                240.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-3.png" class="glightbox"><img src="static/img/menu/menu-item-3.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Egg Noodle</h4>
              <p class="ingredients">
                Noodle, egg, onion, chilli, salt
              </p>
              <p class="price">
                250.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-4.png" class="glightbox"><img src="static/img/menu/menu-item-4.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Chicken Salad</h4>
              <p class="ingredients">
                Vegetable, chilli, chicken, onion, salt
              </p>
              <p class="price">
                210.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-5.png" class="glightbox"><img src="static/img/menu/menu-item-5.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Mutton Slice</h4>
              <p class="ingredients">
                Mutton, onion, tomato, chilli, oil
              </p>
              <p class="price">
                220.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-6.png" class="glightbox"><img src="static/img/menu/menu-item-6.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Grilled Salad</h4>
              <p class="ingredients">
                Vegetable, chilli, mutton, onion, salt
              </p>
              <p class="price">
                240.95৳
              </p>
            </div>
            <!-- Menu Item -->

          </div>
        </div>
        <!-- End Starter Menu Content -->

        <div class="tab-pane fade" id="menu-breakfast">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Breakfast</h3>
          </div>

          <div class="row gy-5">

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-1.png" class="glightbox"><img src="static/img/menu/menu-item-1.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Mutton Kabab</h4>
              <p class="ingredients">
                Mutton, chilli, onion, rice flour, oil
              </p>
              <p class="price">
                280.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-2.png" class="glightbox"><img src="static/img/menu/menu-item-2.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Chicken Shawarma</h4>
              <p class="ingredients">
                Chicken, chilli, onion, rice flour, oil
              </p>
              <p class="price">
                240.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-3.png" class="glightbox"><img src="static/img/menu/menu-item-3.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Egg Noodle</h4>
              <p class="ingredients">
                Noodle, egg, onion, chilli, salt
              </p>
              <p class="price">
                250.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-4.png" class="glightbox"><img src="static/img/menu/menu-item-4.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Chicken Salad</h4>
              <p class="ingredients">
                Vegetable, chilli, chicken, onion, salt
              </p>
              <p class="price">
                210.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-5.png" class="glightbox"><img src="static/img/menu/menu-item-5.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Mutton Slice</h4>
              <p class="ingredients">
                Mutton, onion, tomato, chilli, oil
              </p>
              <p class="price">
                220.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-6.png" class="glightbox"><img src="static/img/menu/menu-item-6.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Grilled Salad</h4>
              <p class="ingredients">
                Vegetable, chilli, mutton, onion, salt
              </p>
              <p class="price">
                240.95৳
              </p>
            </div>
            <!-- Menu Item -->

          </div>
        </div>
        <!-- End Breakfast Menu Content -->

        <div class="tab-pane fade" id="menu-lunch">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Lunch</h3>
          </div>

          <div class="row gy-5">

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-1.png" class="glightbox"><img src="static/img/menu/menu-item-1.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Mutton Kabab</h4>
              <p class="ingredients">
                Mutton, chilli, onion, rice flour, oil
              </p>
              <p class="price">
                280.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-2.png" class="glightbox"><img src="static/img/menu/menu-item-2.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Chicken Shawarma</h4>
              <p class="ingredients">
                Chicken, chilli, onion, rice flour, oil
              </p>
              <p class="price">
                240.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-3.png" class="glightbox"><img src="static/img/menu/menu-item-3.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Egg Noodle</h4>
              <p class="ingredients">
                Noodle, egg, onion, chilli, salt
              </p>
              <p class="price">
                250.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-4.png" class="glightbox"><img src="static/img/menu/menu-item-4.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Chicken Salad</h4>
              <p class="ingredients">
                Vegetable, chilli, chicken, onion, salt
              </p>
              <p class="price">
                210.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-5.png" class="glightbox"><img src="static/img/menu/menu-item-5.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Mutton Slice</h4>
              <p class="ingredients">
                Mutton, onion, tomato, chilli, oil
              </p>
              <p class="price">
                220.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-6.png" class="glightbox"><img src="static/img/menu/menu-item-6.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Grilled Salad</h4>
              <p class="ingredients">
                Vegetable, chilli, mutton, onion, salt
              </p>
              <p class="price">
                240.95৳
              </p>
            </div>
            <!-- Menu Item -->

          </div>
        </div>
        <!-- End Lunch Menu Content -->

        <div class="tab-pane fade" id="menu-dinner">

          <div class="tab-header text-center">
            <p>Menu</p>
            <h3>Dinner</h3>
          </div>

          <div class="row gy-5">

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-1.png" class="glightbox"><img src="static/img/menu/menu-item-1.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Mutton Kabab</h4>
              <p class="ingredients">
                Mutton, chilli, onion, rice flour, oil
              </p>
              <p class="price">
                280.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-2.png" class="glightbox"><img src="static/img/menu/menu-item-2.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Chicken Shawarma</h4>
              <p class="ingredients">
                Chicken, chilli, onion, rice flour, oil
              </p>
              <p class="price">
                240.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-3.png" class="glightbox"><img src="static/img/menu/menu-item-3.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Egg Noodle</h4>
              <p class="ingredients">
                Noodle, egg, onion, chilli, salt
              </p>
              <p class="price">
                250.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-4.png" class="glightbox"><img src="static/img/menu/menu-item-4.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Chicken Salad</h4>
              <p class="ingredients">
                Vegetable, chilli, chicken, onion, salt
              </p>
              <p class="price">
                210.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-5.png" class="glightbox"><img src="static/img/menu/menu-item-5.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Mutton Slice</h4>
              <p class="ingredients">
                Mutton, onion, tomato, chilli, oil
              </p>
              <p class="price">
                220.95৳
              </p>
            </div>
            <!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/menu-item-6.png" class="glightbox"><img src="static/img/menu/menu-item-6.png"
                  class="menu-img img-fluid" alt=""></a>
              <h4>Grilled Salad</h4>
              <p class="ingredients">
                Vegetable, chilli, mutton, onion, salt
              </p>
              <p class="price">
                240.95৳
              </p>
            </div>
            <!-- Menu Item -->

          </div>
        </div>
        <!-- End Dinner Menu Content -->

      </div>

    </div>
  </section>
  <!-- End Menu Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Testimonials</h2>
        <p>What Are They <span>Saying About Us</span></p>
      </div>

      <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      I stand before to share my heartfelt review of the extraordinary dining experience. From the
                      moment I stepped through the doors, I knew this would be no ordinary
                      meal; it would be an unforgettable culinary journey.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="static/img/testimonials/testimonials-1.jpg" class="img-fluid testimonial-img" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      The ambiance of Food Bazar is nothing short of enchanting. The warm and welcoming décor,
                      combined with soft lighting and tasteful decorations, set the stage for an elegant and cozy dining
                      experience.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="static/img/testimonials/testimonials-2.jpg" class="img-fluid testimonial-img" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      The fusion of unique ingredients and creative combinations left my taste buds dancing with joy.
                      Each plate was a work of art, meticulously presented, and a feast for the eyes as well as the
                      palate.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="static/img/testimonials/testimonials-3.jpg" class="img-fluid testimonial-img" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Food Bazar was an absolute delight. It was not merely a meal; it was a symphony of flavors,
                      a showcase of culinary artistry, and an experience that will remain etched in my memory for years
                      to come.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="static/img/testimonials/testimonials-4.jpg" class="img-fluid testimonial-img" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- ======= Events Section ======= -->
  <section id="events" class="events">
    <div class="container-fluid" data-aos="fade-up">

      <div class="section-header">
        <h2>Events</h2>
        <p>Share <span>Your Moments</span> In Our Restaurant</p>
      </div>

      <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide event-item d-flex flex-column justify-content-end"
            style="background-image: url(static/img/events-1.jpg)">
            <h3>Custom Parties</h3>
            <div class="price align-self-start">1000৳</div>
            <p class="description">
              These packages are designed to make party planning more convenient and may offer
              different options based on the number of guests, dietary requirements and budget.
            </p>
          </div>
          <!-- End Event item -->

          <div class="swiper-slide event-item d-flex flex-column justify-content-end"
            style="background-image: url(static/img/events-2.jpg)">
            <h3>Birthday Parties</h3>
            <div class="price align-self-start">1500৳</div>
            <p class="description">
              Restaurants may provide the flexibility to customize the menu for the birthday party based on your
              preferences, dietary requirements, and the number of guests attending.
            </p>
          </div>
          <!-- End Event item -->

          <div class="swiper-slide event-item d-flex flex-column justify-content-end"
            style="background-image: url(static/img/events-3.jpg)">
            <h3>Private Parties</h3>
            <div class="price align-self-start">2000৳</div>
            <p class="description">
              Our special offer for Private party packages that include a set menu or buffet and
              sometimes entertainment options. May offer based on the number of guests and budget.
            </p>
          </div>
          <!-- End Event item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>
  <!-- End Events Section -->

  <!-- ======= Chefs Section ======= -->
  <section id="chefs" class="chefs section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Chefs</h2>
        <p>Our <span>Proffesional</span> Chefs</p>
      </div>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="chef-member">
            <div class="member-img">
              <img src="static/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Master Chef</span>
              <p>Walter White is a highly advanced knowledge and skills in various cooking techniques. He is known for
                their creativity in designing unique and innovative dishes.</p>
            </div>
          </div>
        </div>
        <!-- End Chefs Member -->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="chef-member">
            <div class="member-img">
              <img src="static/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Patissier</span>
              <p>Sarah Jhonson is well-versed in various baking techniques, such as making cakes, cookies, pastries,
                tarts, bread, sweet treats and also sweets food items.</p>
            </div>
          </div>
        </div>
        <!-- End Chefs Member -->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="chef-member">
            <div class="member-img">
              <img src="static/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>Cook</span>
              <p>William Anderson is responsible for preparing and cooking various dishes. His specific cooking
                techniques to ensure the dishes
                are consistent in taste and quality.
              </p>
            </div>
          </div>
        </div>
        <!-- End Chefs Member -->

      </div>

    </div>
  </section>
  <!-- End Chefs Section -->

  <!-- ======= Book A Table Section ======= -->
  <section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Book A Table</h2>
        <p>Book <span>Your Stay</span> With Us</p>
      </div>

      <div class="row g-0">

        <div class="col-lg-4 reservation-img" style="background-image: url(static/img/reservation.jpg);"
          data-aos="zoom-out" data-aos-delay="200"></div>

        <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
          <form action="{% url 'booking' %}" method="post" role="form" class="php-email-form" data-aos="fade-up"
            data-aos-delay="100">
            {% csrf_token %}
            <div class="row gy-4">
              <div class="col-lg-4 col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" required>
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="date" name="date" class="form-control" id="date" placeholder="Date" required>
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="time" class="form-control" name="time" id="time" placeholder="Time" required>
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="number" class="form-control" name="people" id="people" placeholder="# of people" required>
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm
                your reservation. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Book a Table</button></div>
          </form>
        </div>
        <!-- End Reservation Form -->

      </div>

    </div>
  </section>
  <!-- End Book A Table Section -->

  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>gallery</h2>
        <p>Check <span>Our Gallery</span></p>
      </div>

      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="static/img/gallery/gallery-1.jpg"><img src="static/img/gallery/gallery-1.jpg" class="img-fluid"
                alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="static/img/gallery/gallery-2.jpg"><img src="static/img/gallery/gallery-2.jpg" class="img-fluid"
                alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="static/img/gallery/gallery-3.jpg"><img src="static/img/gallery/gallery-3.jpg" class="img-fluid"
                alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="static/img/gallery/gallery-4.jpg"><img src="static/img/gallery/gallery-4.jpg" class="img-fluid"
                alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="static/img/gallery/gallery-5.jpg"><img src="static/img/gallery/gallery-5.jpg" class="img-fluid"
                alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="static/img/gallery/gallery-6.jpg"><img src="static/img/gallery/gallery-6.jpg" class="img-fluid"
                alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="static/img/gallery/gallery-7.jpg"><img src="static/img/gallery/gallery-7.jpg" class="img-fluid"
                alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
              href="static/img/gallery/gallery-8.jpg"><img src="static/img/gallery/gallery-8.jpg" class="img-fluid"
                alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>
  <!-- End Gallery Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Contact</h2>
        <p>Need Help? <span>Contact Us</span></p>
      </div>

      <div class="mb-3">
        <iframe style="border:0; width: 100%; height: 350px;"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
          frameborder="0" allowfullscreen></iframe>
      </div>
      <!-- End Google Maps -->

      <div class="row gy-4">

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
              <h3>Our Address</h3>
              <p>A108 Paris Road, Jashore -7400, Bangladesh</p>
            </div>
          </div>
        </div>
        <!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p>arefins56@gmail.com</p>
            </div>
          </div>
        </div>
        <!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+88-01912004259</p>
            </div>
          </div>
        </div>
        <!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-share flex-shrink-0"></i>
            <div>
              <h3>Opening Hours</h3>
              <div><strong>Sat-Thu:</strong> 10AM - 9PM;
                <strong>Friday:</strong> Closed
              </div>
            </div>
          </div>
        </div>
        <!-- End Info Item -->

      </div>

      <form action="{% url 'messageing' %}" method="post" role="form" class="php-email-form p-3 p-md-4">
        {% csrf_token %}
        <div class="row">
          <div class="col-xl-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-xl-6 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>
      <!--End Contact Form -->

    </div>
  </section>
  <!-- End Contact Section -->

</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-geo-alt icon"></i>
        <div>
          <h4>Address</h4>
          <p>
            A108 Paris Road <br>
            Jashore -7400, Bangladesh<br>
          </p>
        </div>

      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-telephone icon"></i>
        <div>
          <h4>Reservations</h4>
          <p>
            <strong>Phone:</strong> +880-1912004259<br>
            <strong>Email:</strong> arefins56@gmail.com<br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-clock icon"></i>
        <div>
          <h4>Opening Hours</h4>
          <p>
            <strong>Sat-Thu: 10AM</strong> - 9PM<br>
            Friday: Closed
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Follow Us</h4>
        <div class="social-links d-flex">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>FoodBazar</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Made by <a href="https://bootstrapmade.com/">Md. Shamsul Arefin</a>
    </div>
  </div>

</footer>
<!-- End Footer -->
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/vendor/aos/aos.js"></script>
<script src="static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="static/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="static/js/main.js"></script>

{% endblock %}